*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
    /* overflow-x: hidden; */
}

main {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

main > :first-child {
  margin-top: -110px;
}

main > .image-display-section + .image-display-section {
  margin-top: -4vh;
}

main > .image-display-section:last-of-type + .looking-section {
  margin-top: -4vh;
}
